
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nothing+You+Could+Do&display=swap');
* { 
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png"); 
}

.homeicon{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    background-color: transparent;
    
    
}
.sidebar{
    width: 430px;
    height: 100vh;
    background-color: #edf0e3;
    transition: transform 0.3s ease-in;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.sidebar nav{
    padding: 45px;
    padding-top: 85px;
    background-color: #edf0e3;

}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
    background-color: #edf0e3;
    font-family: 'Nothing You Could Do', cursive;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #edf0e3;

}
.main{
    /* background-color: white; */
    width: 90vw;
    height: 100vh;

}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: #fdfdfd; */
    width: 60%;
    margin: 144px auto;
    display: flex;    
    justify-content: space-around;
    align-self: auto;
}
.devInfo{
    padding-top: 10%;
    width: 90%;
    vertical-align: middle;
    flex-direction: column;
    margin-left: -10%;
}

.devPic img{
    position: relative;
    vertical-align: top;
    margin-left: 10%;
    max-width: 65%;
}

.imgContainer{
    height: auto;
    width: 50%;  
}



.name{
    text-align: left;
    font-size: 300%;
    font-weight: bold;
    font-family: 'Klee One', cursive;
}

.role{
    text-align: left;
    font-size: 130%;
    font-family: 'Klee One', cursive;
}

.location{
    font-size: 100%;
    font-family: 'Klee One', cursive;
}

@media (max-width:1000px){

    .container{
        padding: 0 0em;
        flex-direction: row;
        column-count: 1;
    }
    .main{
         background-color: white; 
        width: 100%;
    
    }
    .sidebarGo{
        transform: translate(-443px, 0px);
        position: absolute;
    }
    .sidebar{
        width: 130px;
        height: 100vh;
        background-color: #edf0e3;
        transition: transform 0.3s ease-in;
    }

    .sidebar nav li{
        list-style: none;
        font-size: 20px;
        padding: 13px 0;
        margin-left: -72%;
        background-color: #edf0e3;
        font-family: 'Nothing You Could Do', cursive;
    }
    .infoContainer{
        background-color: white;
        width: 90%;
        margin: 44px auto;
        display: flex;
        justify-content:end;
        flex-direction: column;

    }

    .devInfo{
        width: 90%;
        margin-left: 5%;
        vertical-align: top;
    }

    .imgContainer{
        width: 100%;
    }

    .devPic{   
        width: 100%;
        margin-top: 26%;
        margin-left: 8%;
        vertical-align: bottom;
        align-content: center;
    }

    .name{
        font-size: 250%;
        font-weight: bold;
        font-family: 'Klee One', cursive;
        justify-content: center;

    }
    
    .role{
        font-size: 109%;
        font-family: 'Klee One', cursive;
        justify-content: center;
        padding-top: 4%;
    }
    

    


}