
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nothing+You+Could+Do&display=swap');
* { 
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}

.homeicon{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.sidebar{
    width: 430px;
    height: 100vh;
    background-color: #edf0e3;
    transition: transform 0.3s ease-in;
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.sidebar nav{
    padding: 45px;
    padding-top: 85px;
    background-color: #edf0e3;

}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
    background-color: #edf0e3;
    font-family: 'Nothing You Could Do', cursive;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #edf0e3;

}
.main{
    background-color: white;
    width: 90vw;
    height: 100vh;

}

.container{
    display: flex;
}

.infoContainer{
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;    
    justify-content: space-around;
}
.devPic img{
    height: 50vh;
    width: auto;
    float: left;
}
.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 200px;
    float: left;
}

.name{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Klee One', cursive;
}

.role{
    font-size: 45px;
    font-family: 'Klee One', cursive;
}

.location{
    font-size: 35px;
    font-family: 'Klee One', cursive;
}

@media (max-width:1000px){

    .sidebar{
        width: 130px;
        height: 100vh;
        background-color: #edf0e3;
        transition: transform 0.3s ease-in;
    }

    .sidebar nav li{
        list-style: none;
        font-size: 20px;
        padding: 13px 0;
        margin-left: -72%;
        background-color: #edf0e3;
        font-family: 'Nothing You Could Do', cursive;
    }
    .infoContainer{
        background-color: white;
        height: 80vh;
        width: 30vw;
        margin: 44px auto;
        display: flex;    
        justify-content:end;
        bottom: 0%;
    }

    .devPic img{
        height:22%;
        width: auto;
        vertical-align: top;
        align-items: center;
        
        
    }

    .devInfo{
        display: flex;
        justify-content:last baseline;
        padding-bottom: 0px;
        align-self: end;
        margin-top: 0%;
        align-items: center;
        margin-left: 10%;
    }


    .name{
        font-size: 35px;
        font-weight: bold;
        font-family: 'Klee One', cursive;
        justify-content: center;

    }
    
    .role{
        font-size: 25px;
        font-family: 'Klee One', cursive;
        justify-content: center;

    }
    
    .location{
        font-size: 15px;   
        font-family: 'Klee One', cursive;
        justify-content: center;

    }


}